* {
    padding: 0px;
    margin: 0px;
}

p {
    margin: 10px 0px 0px 10px;
    font-size: 18px;
}

h1 {
    padding: 10px;
    text-align: center;
}

table {
    margin: 0 auto;
    padding: 10px;
}
thead {
    background-color: beige;
    font-weight: 700;
}

td {
    border: 1px solid black;
}

.codesnippet {
    font-size: 18px;
}